doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower/animate.css/animate.min.css')
  body
    nav(class="navbar navbar-default top-nav navbar-white clearfix")
      .container-fluid
        a(class="navbar-left" href="#")
          img(alt="Brand" src="/images/ibm_watson_color.png", width="40", height="40" style="margin: 0.4em")
        ul(class="nav navbar-nav navbar-right")
          <li><a href="#"><i class="glyphicon glyphicon-home" style="font-size: 20px"></i></a></li>
    nav(class="navbar sub-nav navbar-default navbar-white clearfix")
      p(class="navbar-text") IBM Watson Alchemy API 
        block content
        script(src="/bower/vue/dist/vue.js")
        script(src="/bower/vue-resource/dist/vue-resource.js")
        script(src="/bower/jquery/dist/jquery.js")
        script(src="/bower/bootstrap/dist/js/bootstrap.js") 
        script(src="/bower/chart.js/dist/Chart.bundle.js")
        script(src="/javascripts/counter.js")
        script(src="/javascripts/feedbackChart.js")
        script(src="/javascripts/app.js")
