doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    
    body
        nav(class="navbar navbar-default clearfix")
            a(class="navbar-brand" href="#")
                img(alt="Brand" src="/images/ibm.png" width="60" height="24")
            p(class="navbar-text") Watson Tone Analyser Feedback Dashboard
            button(type="button" class="btn btn-default navbar-btn pull-right") View Source 
        block content
        script(src="/bower/vue/dist/vue.js")
        script(src="/bower/vue-resource/dist/vue-resource.js")
        script(src="/bower/jquery/dist/jquery.js")
        script(src="/bower/bootstrap/dist/js/bootstrap.js") 
        script(src="/bower/chart.js/dist/Chart.bundle.js")
        script(src="/javascripts/counter.js")
        script(src="/javascripts/app.js")


