body {
  margin: 0px;
  font: 14px Helvetica, Arial, sans-serif;
  background-image: url("/images/bg.png");
  background-repeat: repeat;
}

a {
    color: #00B7FF;
}

.top-nav {
  margin-bottom: 0 !important;
}

.sub-nav {
  border-top: 0px !important;
}

.jumbotron-white {
    background-color: white !important;
}

.navbar-white {
    border-radius: 0px !important;
    padding-right: 1em;
    background-color: white !important;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #f8f8f8;
    border-top: 2px solid;
    border-color: #e7e7e7;
    height: 40px;
}

.footer p {
    padding-top: 7px;
    text-align: right;
    font-size: 11px;
    padding-right: 10px;
    color: gray;
}


